/****************************************************************************
 *    This is MyApp.rc file                                                 *
 ****************************************************************************/

// ------------------------------------------------------------------------ //
// =====================  *** My Header Files *** ========================= //
// ------------------------------------------------------------------------ //

#include "MyApp.h"

// ------------------------------------------------------------------------ //
// ===================  *** My Version Resources *** ====================== //
// ------------------------------------------------------------------------ //

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "MyApp.exe.manifest"         // <- Delete this for console apps.

// ------------------------------------------------------------------------ //
// ======================================================================== //
// ------------------------------------------------------------------------ //
